/*
Online Blood Bank Website
Lynn & Joshua
V 1.0.0

*/
body {
    background: rgba(217, 13, 14, 1);
    color: rgba(255, 255, 255, 1);
    font-size:18px;
}

/*
default settings
*/
.default {
    margin: 3%;
}

.home header {
    margin-top: 30%;
    text-align: center;
}

.button {
    display: inline-block;
    background: rgba(255, 255, 255, 1);
    -webkit-border-radius: 8px;
    border-radius: 8px;
    padding:5px 15px;
    text-align: center;
    width:20%;
    color:rgba(217, 13, 14, 1);
    text-decoration: none;
}

.choice {
    text-align: center;
}