{% extends "layout.html" %}
{% block body %}
    <h2>New Donor Registration</h2>
    {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}

    <form action="{{ url_for('donor_register') }}" onsubmit="return validateForm()" method=post name="donor">
        
        
        <fieldset>
            <legend>New Donor Login Information</legend>
            <p><em>Create a user name and password to register and receive a secure ID.</em></p>
            <div>
                <label for="donor_username">User Name</label>
                <input type="text" name="donor_username" id="donor_username" required>
            </div>
            <div>
                <label for="donor_password">Password</label>
                <input type="password" name="donor_password" id="donor_password" required>
            </div>
        </fieldset>
       
        <fieldset>
            <legend>New Donor Contact Information</legend>
            <div>
                <label for="donor_firstname">First Name</label>
                <input type="text" name="donor_firstname" id="donor_firstname" required>
            </div>
            <div>
                <label for="donor_lastname">Last Name </label>
                <input type="text" name="donor_lastname" id="donor_lastname" required>
            </div>
            <div>
                <label for="donor_email">Email: </label>
                <input type="email" name="donor_email" id="donor_email" required>
            </div>
            <div>
                <label for="donor_telephone">Mobile: </label>
                <input type="tel" name="donor_telephone" id="donor_telephone" required>
            </div>
        </fieldset>
        
        
        <fieldset>
            <legend>New Donor Address Information</legend>
            <div>
                <label for="donor_address_street">Street Address</label>
                <input type="text" name="donor_address_street" id="donor_address_street" placeholder="Street Address, P.O. Box">
            </div>
            <div>
                <label for="donor_address_street">Street Address Option</label>
                <input type="text" name="donor_address_street_opt" placeholder="Apartment, Suite, Unit, Building, ...">
            </div>
            <div>
                <label for="donor_address_city">City</label>
                <input type="text" name="donor_address_city" id="donor_address_city" required>
            </div>
            <div>
                <label for="donor_address_state">State/Province/Region</label>
                <input type="text" name="donor_address_state" id="donor_address_state" required>
            </div>
            <div>
                <label for="donor_address_postalcode">Postal Code</label>
                <input type="text" name="donor_address_postalcode" id="donor_address_postalcode" required>
            </div>
            <div>
                <label for="donor_address_country">Country</label>
                <select name="donor_address_country" id="donor_address_country" required>
                    <option selected disabled>Choose One</option>
                    <option value="United States of America">United States of America</option>
                    <option value="Afganistan">Afghanistan</option>
                    <option value="Albania">Albania</option>
                    <option value="Algeria">Algeria</option>
                    <option value="American Samoa">American Samoa</option>
                    <option value="Andorra">Andorra</option>
                    <option value="Angola">Angola</option>
                    <option value="Anguilla">Anguilla</option>
                    <option value="Antigua &amp; Barbuda">Antigua &amp; Barbuda</option>
                    <option value="Argentina">Argentina</option>
                    <option value="Armenia">Armenia</option>
                    <option value="Aruba">Aruba</option>
                    <option value="Australia">Australia</option>
                    <option value="Austria">Austria</option>
                    <option value="Azerbaijan">Azerbaijan</option>
                    <option value="Bahamas">Bahamas</option>
                    <option value="Bahrain">Bahrain</option>
                    <option value="Bangladesh">Bangladesh</option>
                    <option value="Barbados">Barbados</option>
                    <option value="Belarus">Belarus</option>
                    <option value="Belgium">Belgium</option>
                    <option value="Belize">Belize</option>
                    <option value="Benin">Benin</option>
                    <option value="Bermuda">Bermuda</option>
                    <option value="Bhutan">Bhutan</option>
                    <option value="Bolivia">Bolivia</option>
                    <option value="Bonaire">Bonaire</option>
                    <option value="Bosnia &amp; Herzegovina">Bosnia &amp; Herzegovina</option>
                    <option value="Botswana">Botswana</option>
                    <option value="Brazil">Brazil</option>
                    <option value="British Indian Ocean Ter">British Indian Ocean Ter</option>
                    <option value="Brunei">Brunei</option>
                    <option value="Bulgaria">Bulgaria</option>
                    <option value="Burkina Faso">Burkina Faso</option>
                    <option value="Burundi">Burundi</option>
                    <option value="Cambodia">Cambodia</option>
                    <option value="Cameroon">Cameroon</option>
                    <option value="Canada">Canada</option>
                    <option value="Canary Islands">Canary Islands</option>
                    <option value="Cape Verde">Cape Verde</option>
                    <option value="Cayman Islands">Cayman Islands</option>
                    <option value="Central African Republic">Central African Republic</option>
                    <option value="Chad">Chad</option>
                    <option value="Channel Islands">Channel Islands</option>
                    <option value="Chile">Chile</option>
                    <option value="China">China</option>
                    <option value="Christmas Island">Christmas Island</option>
                    <option value="Cocos Island">Cocos Island</option>
                    <option value="Colombia">Colombia</option>
                    <option value="Comoros">Comoros</option>
                    <option value="Congo">Congo</option>
                    <option value="Cook Islands">Cook Islands</option>
                    <option value="Costa Rica">Costa Rica</option>
                    <option value="Cote DIvoire">Cote D'Ivoire</option>
                    <option value="Croatia">Croatia</option>
                    <option value="Cuba">Cuba</option>
                    <option value="Curaco">Curacao</option>
                    <option value="Cyprus">Cyprus</option>
                    <option value="Czech Republic">Czech Republic</option>
                    <option value="Denmark">Denmark</option>
                    <option value="Djibouti">Djibouti</option>
                    <option value="Dominica">Dominica</option>
                    <option value="Dominican Republic">Dominican Republic</option>
                    <option value="East Timor">East Timor</option>
                    <option value="Ecuador">Ecuador</option>
                    <option value="Egypt">Egypt</option>
                    <option value="El Salvador">El Salvador</option>
                    <option value="Equatorial Guinea">Equatorial Guinea</option>
                    <option value="Eritrea">Eritrea</option>
                    <option value="Estonia">Estonia</option>
                    <option value="Ethiopia">Ethiopia</option>
                    <option value="Falkland Islands">Falkland Islands</option>
                    <option value="Faroe Islands">Faroe Islands</option>
                    <option value="Fiji">Fiji</option>
                    <option value="Finland">Finland</option>
                    <option value="France">France</option>
                    <option value="French Guiana">French Guiana</option>
                    <option value="French Polynesia">French Polynesia</option>
                    <option value="French Southern Ter">French Southern Ter</option>
                    <option value="Gabon">Gabon</option>
                    <option value="Gambia">Gambia</option>
                    <option value="Georgia">Georgia</option>
                    <option value="Germany">Germany</option>
                    <option value="Ghana">Ghana</option>
                    <option value="Gibraltar">Gibraltar</option>
                    <option value="Great Britain">Great Britain</option>
                    <option value="Greece">Greece</option>
                    <option value="Greenland">Greenland</option>
                    <option value="Grenada">Grenada</option>
                    <option value="Guadeloupe">Guadeloupe</option>
                    <option value="Guam">Guam</option>
                    <option value="Guatemala">Guatemala</option>
                    <option value="Guinea">Guinea</option>
                    <option value="Guyana">Guyana</option>
                    <option value="Haiti">Haiti</option>
                    <option value="Hawaii">Hawaii</option>
                    <option value="Honduras">Honduras</option>
                    <option value="Hong Kong">Hong Kong</option>
                    <option value="Hungary">Hungary</option>
                    <option value="Iceland">Iceland</option>
                    <option value="India">India</option>
                    <option value="Indonesia">Indonesia</option>
                    <option value="Iran">Iran</option>
                    <option value="Iraq">Iraq</option>
                    <option value="Ireland">Ireland</option>
                    <option value="Isle of Man">Isle of Man</option>
                    <option value="Israel">Israel</option>
                    <option value="Italy">Italy</option>
                    <option value="Jamaica">Jamaica</option>
                    <option value="Japan">Japan</option>
                    <option value="Jordan">Jordan</option>
                    <option value="Kazakhstan">Kazakhstan</option>
                    <option value="Kenya">Kenya</option>
                    <option value="Kiribati">Kiribati</option>
                    <option value="Korea North">Korea North</option>
                    <option value="Korea Sout">Korea South</option>
                    <option value="Kuwait">Kuwait</option>
                    <option value="Kyrgyzstan">Kyrgyzstan</option>
                    <option value="Laos">Laos</option>
                    <option value="Latvia">Latvia</option>
                    <option value="Lebanon">Lebanon</option>
                    <option value="Lesotho">Lesotho</option>
                    <option value="Liberia">Liberia</option>
                    <option value="Libya">Libya</option>
                    <option value="Liechtenstein">Liechtenstein</option>
                    <option value="Lithuania">Lithuania</option>
                    <option value="Luxembourg">Luxembourg</option>
                    <option value="Macau">Macau</option>
                    <option value="Macedonia">Macedonia</option>
                    <option value="Madagascar">Madagascar</option>
                    <option value="Malaysia">Malaysia</option>
                    <option value="Malawi">Malawi</option>
                    <option value="Maldives">Maldives</option>
                    <option value="Mali">Mali</option>
                    <option value="Malta">Malta</option>
                    <option value="Marshall Islands">Marshall Islands</option>
                    <option value="Martinique">Martinique</option>
                    <option value="Mauritania">Mauritania</option>
                    <option value="Mauritius">Mauritius</option>
                    <option value="Mayotte">Mayotte</option>
                    <option value="Mexico">Mexico</option>
                    <option value="Midway Islands">Midway Islands</option>
                    <option value="Moldova">Moldova</option>
                    <option value="Monaco">Monaco</option>
                    <option value="Mongolia">Mongolia</option>
                    <option value="Montserrat">Montserrat</option>
                    <option value="Morocco">Morocco</option>
                    <option value="Mozambique">Mozambique</option>
                    <option value="Myanmar">Myanmar</option>
                    <option value="Nambia">Nambia</option>
                    <option value="Nauru">Nauru</option>
                    <option value="Nepal">Nepal</option>
                    <option value="Netherland Antilles">Netherland Antilles</option>
                    <option value="Netherlands">Netherlands (Holland, Europe)</option>
                    <option value="Nevis">Nevis</option>
                    <option value="New Caledonia">New Caledonia</option>
                    <option value="New Zealand">New Zealand</option>
                    <option value="Nicaragua">Nicaragua</option>
                    <option value="Niger">Niger</option>
                    <option value="Nigeria">Nigeria</option>
                    <option value="Niue">Niue</option>
                    <option value="Norfolk Island">Norfolk Island</option>
                    <option value="Norway">Norway</option>
                    <option value="Oman">Oman</option>
                    <option value="Pakistan">Pakistan</option>
                    <option value="Palau Island">Palau Island</option>
                    <option value="Palestine">Palestine</option>
                    <option value="Panama">Panama</option>
                    <option value="Papua New Guinea">Papua New Guinea</option>
                    <option value="Paraguay">Paraguay</option>
                    <option value="Peru">Peru</option>
                    <option value="Phillipines">Philippines</option>
                    <option value="Pitcairn Island">Pitcairn Island</option>
                    <option value="Poland">Poland</option>
                    <option value="Portugal">Portugal</option>
                    <option value="Puerto Rico">Puerto Rico</option>
                    <option value="Qatar">Qatar</option>
                    <option value="Republic of Montenegro">Republic of Montenegro</option>
                    <option value="Republic of Serbia">Republic of Serbia</option>
                    <option value="Reunion">Reunion</option>
                    <option value="Romania">Romania</option>
                    <option value="Russia">Russia</option>
                    <option value="Rwanda">Rwanda</option>
                    <option value="St Barthelemy">St Barthelemy</option>
                    <option value="St Eustatius">St Eustatius</option>
                    <option value="St Helena">St Helena</option>
                    <option value="St Kitts-Nevis">St Kitts-Nevis</option>
                    <option value="St Lucia">St Lucia</option>
                    <option value="St Maarten">St Maarten</option>
                    <option value="St Pierre &amp; Miquelon">St Pierre &amp; Miquelon</option>
                    <option value="St Vincent &amp; Grenadines">St Vincent &amp; Grenadines</option>
                    <option value="Saipan">Saipan</option>
                    <option value="Samoa">Samoa</option>
                    <option value="Samoa American">Samoa American</option>
                    <option value="San Marino">San Marino</option>
                    <option value="Sao Tome &amp; Principe">Sao Tome &amp; Principe</option>
                    <option value="Saudi Arabia">Saudi Arabia</option>
                    <option value="Senegal">Senegal</option>
                    <option value="Serbia">Serbia</option>
                    <option value="Seychelles">Seychelles</option>
                    <option value="Sierra Leone">Sierra Leone</option>
                    <option value="Singapore">Singapore</option>
                    <option value="Slovakia">Slovakia</option>
                    <option value="Slovenia">Slovenia</option>
                    <option value="Solomon Islands">Solomon Islands</option>
                    <option value="Somalia">Somalia</option>
                    <option value="South Africa">South Africa</option>
                    <option value="Spain">Spain</option>
                    <option value="Sri Lanka">Sri Lanka</option>
                    <option value="Sudan">Sudan</option>
                    <option value="Suriname">Suriname</option>
                    <option value="Swaziland">Swaziland</option>
                    <option value="Sweden">Sweden</option>
                    <option value="Switzerland">Switzerland</option>
                    <option value="Syria">Syria</option>
                    <option value="Tahiti">Tahiti</option>
                    <option value="Taiwan">Taiwan</option>
                    <option value="Tajikistan">Tajikistan</option>
                    <option value="Tanzania">Tanzania</option>
                    <option value="Thailand">Thailand</option>
                    <option value="Togo">Togo</option>
                    <option value="Tokelau">Tokelau</option>
                    <option value="Tonga">Tonga</option>
                    <option value="Trinidad &amp; Tobago">Trinidad &amp; Tobago</option>
                    <option value="Tunisia">Tunisia</option>
                    <option value="Turkey">Turkey</option>
                    <option value="Turkmenistan">Turkmenistan</option>
                    <option value="Turks &amp; Caicos Is">Turks &amp; Caicos Is</option>
                    <option value="Tuvalu">Tuvalu</option>
                    <option value="Uganda">Uganda</option>
                    <option value="Ukraine">Ukraine</option>
                    <option value="United Arab Erimates">United Arab Emirates</option>
                    <option value="United Kingdom">United Kingdom</option>
                    <option value="United States of America">United States of America</option>
                    <option value="Uraguay">Uruguay</option>
                    <option value="Uzbekistan">Uzbekistan</option>
                    <option value="Vanuatu">Vanuatu</option>
                    <option value="Vatican City State">Vatican City State</option>
                    <option value="Venezuela">Venezuela</option>
                    <option value="Vietnam">Vietnam</option>
                    <option value="Virgin Islands (Brit)">Virgin Islands (Brit)</option>
                    <option value="Virgin Islands (USA)">Virgin Islands (USA)</option>
                    <option value="Wake Island">Wake Island</option>
                    <option value="Wallis &amp; Futana Is">Wallis &amp; Futana Is</option>
                    <option value="Yemen">Yemen</option>
                    <option value="Zaire">Zaire</option>
                    <option value="Zambia">Zambia</option>
                    <option value="Zimbabwe">Zimbabwe</option>
                </select>
            </div>
        </fieldset>
        
        <fieldset>
            <legend>New Donor Personal Information</legend>
            <div>
                <label for="donor_birthdate">Birthdate:</label>
                <input type="date" name="donor_birthdate" id="">
                <p><em>You have to be at least 17 years old to donate blood.</em></p>
            </div>
            <div>
                <label for="donor_gender">Born Gender: </label>
                <select name="donor_gender" id="donor_gender">
                    <option selected disabled>Choose One</option>
                    <option value="male">male</option>
                    <option value="female">female</option>
                    <option value="decline">decline to answer</option>
                </select>
            </div>
            <div>
                <label for="donor_height">Height: </label>
                <input type="number" name="donor_height" id="donor_height" placeholder="Centimeters Only">
            </div>
            <div>
                <label for="donor_weight">Weight: </label>
                <input type="number" name="donor_weight" id="donor_weight" placeholder="Kilogram Only">
            </div>
        </fieldset>
        
        <fieldset>
            <legend>New Donor Donation History</legend>
            <div>
                <label for="donor_history">Have you ever donated blood before? </label>
                <select name="donor_history" id="donor_history">
                    <option selected disabled>Choose One</option>
                    <option value="Yes">Yes</option>
                    <option value="No">No</option>
                </select>
            </div>
            <div>
                <label for="donor_history_date">If Yes, last donation date:</label>
                <input type="date" name="donor_history_date" id="donor_history_date">
            </div>
            <div>
                <label for="donor_history_reason">Is there any reason you can not donate? </label>
                <select name="donor_history_reason" id="donor_history_reason">
                    <option selected disabled>Choose One</option>
                    <option value="Yes">Yes</option>
                    <option value="No">No</option>
                </select>
            </div>
        </fieldset>
        
        <fieldset>
            <legend>New Donor Donation Participation</legend>

            <div class="checkboxs">
                <p>What are you willing to donate?</p>
                <div class="flex-checkbox">
                    <div>
                        <input type="checkbox" name="donor_participation" value="Whole" id="donor_participation_whole">
                        <label for="donor_participation_whole">Whole</label>
                    </div>
                    <div>
                        <input type="checkbox" name="donor_participation" value="Power Red" id="donor_participation_powerred">
                        <label for="donor_participation_powerred">Power Red</label>
                    </div>
                    <div>
                        <input type="checkbox" name="donor_participation" value="Platelets" id="donor_participation_platelets">
                        <label for="donor_participation_platelets">Platelets</label>
                    </div>
                    <div>
                        <input type="checkbox" name="donor_participation" value="Plasma" id="donor_participation_plasma">
                        <label for="donor_participation_plasma">Plasma</label>
                    </div>
                    <div>
                        <input type="checkbox" name="donor_participation" value="Autologous" id="donor_participation_autologous">
                        <label for="donor_participation_autologous">Autologous</label>
                    </div>
                    <div>
                        <input type="checkbox" name="donor_participation" value="Directed" id="donor_participation_directed">
                        <label for="donor_participation_directed">Directed</label>
                    </div>
                </div>
            </div>

            <div>
                <label for="donor_bloodtype">Your blood type:</label>
                <select name="donor_bloodtype" id="donor_bloodtype">
                    <option selected disabled>Choose One</option>
                    <option value="A positive">A positive</option>
                    <option value="A negative">A negative</option>
                    <option value="B positive">B positive</option>
                    <option value="B negative">B negative </option>
                    <option value="O positive">O positive</option>
                    <option value="O negative">O negative</option>
                    <option value="AB positive">AB positive</option>
                    <option value="AB negative">AB negative</option>
                </select>
            </div>
            
        </fieldset>

        <div class="form_group_action">
            <button type="submit">Submit</button>
        </div>
    </form>

{% endblock %}