{% extends "layout.html" %}
{% block body %}
    <h2>Donor Profile</h2>
    {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}

    {% if not session.logged_in %}
        <h2>You're not logged in.</h2>
        <div class="signin-options">
            <a href="{{ url_for('donor') }}">Login</a>
            <a href="{{ url_for('donor_register') }}">New User Registeration</a>
        </div>

    {% else %}

        <h2>Welcome Someone</h2>
        <ul>
        {% for donor in donor_login %}
            <li>{{ donor.donor_id }}</li>
            <li>{{ donor.donor_username }}</li>
        {% else %}
        
            <li><em>Unbelievable.  No entries here so far</em>
        {% endfor %}
        </ul>

    {% endif %}
{% endblock %}